# app/views/products_notifier/borrow_book.text.erb
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    Cześć,
    Wu
    <%= yield %>
  </body>
</html>
