<h2>Hej <%= @reserver.email %></h2>
<p>
Książka <%= @book.title %>, którą zarezerwowałeś w systemie, została oddana wcześniej. Możesz ją wypożyczyć.
<%= link_to "Przejdź do książki", book_url(@book.id, host: "localhost:3000") %>
</p>
