<h2>Hej <%= @reserver.email %></h2>
<p>
Książka <%= @book.title %>, którą zarezerwowałeś została oddana przed czasem. 
<%= link_to "Przejdź do książki", book_url(@book.id, host: "localhost:3000") %>
</p>
